/* styles.css */
.search-container {
	/* margin: 20px; */
	position: relative; /* Potrzebne do pozycjonowania listy wyników */
	input {
		margin-bottom: 10px !important;
	}
}

.search-input {
	margin-bottom: 10px;
	width: 100%; /* Aby input miał pełną szerokość kontenera */
}

.results-container {
	max-width: 300px; /* Maksymalna szerokość */
	max-height: 150px; /* Maksymalna wysokość */
	overflow-y: auto; /* Dodaje przewijanie w osi Y */
	border: 1px solid #ccc; /* Dodaje obramowanie */
	border-radius: 5px; /* Zaokrągla rogi */
	background-color: #525257; /* Ustawia tło na biały */
	position: absolute; /* Pozycjonowanie absolutne względem kontenera */
	z-index: 1000; /* Zapewnia, że lista wyników będzie na wierzchu */
	width: 150%;
    left: -50%;
}

.results-container p {
	color: #343436;
}

.results-list {
	padding: 0; /* Usuwa domyślne padding z ListGroup */
	margin: 0; /* Usuwa domyślne marginesy z ListGroup */
	list-style: none; /* Usuwa punkty listy */
}

.result-item {
	cursor: pointer; /* Ustawia wskaźnik kursora */
	/* padding: 5px; Dodaje padding do elementów listy */
	border-bottom: 1px solid #b0b0b0;
    transition: all .3s;
}

.result-item:hover {
	background-color: #434346; /* Dodaje efekt hover */
}

.result-card {
	width: 100%; /* Ustawia kartę na pełną szerokość elementu listy */
    padding: 5px;
}

.result-card .card-title {
	color: #e4e4e4;
    font-weight: 600;
    font-size: 17px;
}

.result-card .card-subtitle {
	color: #b0b0b0;
}
